* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

*, html, body {
     scroll-behavior: smooth;
}

body {
     background-color: hsl(33, 100%, 88%);
}

#day3demo {
     background-color: hsl(180, 100%, 97%);
}